@charset "utf-8";


/* ===================================================
*
*    Components
*    2021-11-21 작성
*
====================================================*/
hr {border: 0; border-top: 1px solid #eee; }
.clear:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }


/* ===================================================
	Button
====================================================*/
a {text-decoration: none; color: inherit; }

.btn,
button {display: inline-block; position: relative; min-width: 40px;  height: 40px; padding: 0 24px; border: 1px solid #ddd; box-sizing: border-box; border-radius: 3px; outline: none; background-color: transparent; font-size: 14px; font-weight: 400; color: #666; line-height: 38px; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-appearance: none; }

.btn:hover:after,
button:hover:after {content:""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.04); mix-blend-mode: multiply; }


.btn.full,
button.full {width: 100% !important; }
.btn.half,
button.half {width: 50% !important; }

.btn.big,
button.big {height: 50px; line-height: 48px; }
.btn.small,
button.small {height: 30px; padding: 0 16px; line-height: 28px; font-size: 0.8em; }

.btn-group {}
.btn-group:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.btn-group .btn,
.btn-group button {float: left; }
.btn-group .btn + .btn,
.btn-group .btn + button,
.btn-group button + .btn,
.btn-group button + button {margin-left: 2%; }

.btn-group.half .btn,
.btn-group.half button {width: 48%; }

.btn-group.full .btn,
.btn-group.full button {width: 100%; margin-left: 0; }
.btn-group.full .btn + .btn,
.btn-group.full .btn + button,
.btn-group.full button + .btn,
.btn-group.full button + button {margin-top: 2%; }

.btn-round {border-radius: 999px; overflow: hidden; }

.btn-icon {padding-left: 44px; background-repeat: no-repeat; background-size: 14px auto; background-position: left 24px center; }
.btn-icon.small {padding-left: 34px; background-size: 12px auto; background-position: left 16px center; }
.btn-icon.download {background-image:url("../images/common/download.png"); border-color: #2a968b !important; color: #2a968b !important; }
.btn-icon.ppt {background-image:url("../images/common/ppt.png"); border-color: #d35330 !important; color: #d35330 !important; }
.btn-icon.excel {background-image:url("../images/common/excel.png"); border-color: #2e7d32 !important; color: #2e7d32 !important; }
.btn-icon.word {background-image:url("../images/common/word.png"); border-color: #2a5696 !important; color: #2a5696 !important; }



/* =======================================================
   Pagenation 페이지네이션
========================================================*/
.pagination-wrap {position: relative; width: 100%; margin: 30px 0 10px; box-sizing: border-box; }
.pagination-wrap .btn-load {width: 100%; max-width: 300px; height: 40px; padding: 0 20px; line-height: 38px; background-color: #fff; border: 1px solid #999; border-radius: 0.25rem; color: #999; font-size: 0.9rem; color: #777; }


/* pagination */
.pagination {display: flex; flex-direction: row; justify-content: center; align-items: center; }

.pagination > li {display: inline-block; }
.pagination > li > a,
.pagination > li > span {display: block; min-width: 30px; height: 30px; padding: 5px 5px; box-sizing: border-box; font-size: 13px; font-weight: 400; color: #444; line-height: 20px; text-decoration: none; text-align: center; cursor: pointer; }
.pagination > li:not(.current):hover > a,
.pagination > li:not(.current):hover > span {background-color:#f7f8f9; }

.pagination .page-pprev {background: url("../images/common/page_pprev.png") no-repeat center center; background-size: 10px 10px; }
.pagination .page-prev {background: url("../images/common/page_prev.png") no-repeat center center; background-size: 6px 10px; }
.pagination .page-next {background: url("../images/common/page_next.png") no-repeat center center; background-size: 6px 10px; }
.pagination .page-nnext {background: url("../images/common/page_nnext.png") no-repeat center center; background-size: 10px 10px; }

.pagination .current > a,
.pagination .current > span {color: #fff; background-color: #0080c7; }

/* ===================================================
	text
====================================================*/
.text-left {text-align: left !important; }
.text-center {text-align: center !important; }
.text-right {text-align: right !important; }




/* ===================================================
	color
====================================================*/
.color-main {color: #0080c7 !important; }
.color-red {color: #df0000 !important; }

.bg-main {background-color: #0080c7 !important; border-color: #0080c7 !important; color: #fff !important; }
.bg-red {background-color: #df0000 !important; border-color: #df0000 !important; color: #fff !important; }

/* bg-black은 다크모드에서 white */
.bg-black {background-color: #333; border-color: #333; color: #fff; }

.line-main {border-color: #0080c7; color: #0080c7; }
.line-red {border-color: #df0000; color: #df0000; }
.line-black {border-color: #333; color: #333; }



/* ===================================================
	title
====================================================*/
.title {position: relative; font-size: 34px; color: #222; }
.title.medium {font-size: 28px; }
.title.small {font-size: 20px; }

.guide {position: relative; width: 24px; height: 24px; margin: 7px 0 0 10px; min-width: auto; padding: 0; border-radius: 999px; background-color: #fff; overflow: hidden; }
.guide:before {content:"?"; position: absolute; top: 0; left: 0; width: 100%; height: 100%; line-height: 22px; font-size: 12px; color: #666; }

.guide-wrap {display: none; position: absolute; top: calc(100% - 10px); left: calc(100% - 24px); padding-top: 10px; border-radius: 5px; }
.guide-box {width: 280px; padding: 15px 10px; border: 1px solid #eee; border-radius: 5px; box-sizing: border-box; background-color: #fff; font-size: 13px; font-weight: 400; color: #444; line-height: normal; overflow: hidden; }


.page-header {position: relative; display: block; margin-bottom: 24px; }
.page-header:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.page-header .title {float: left; line-height: 40px; }
.page-header .btn,
.page-header button {float: right; line-height: 40px; }
.page-header .select,
.page-header select {float: right; line-height: 40px; }


.breadcrumb {display: block; float: right; line-height: 40px; }
.breadcrumb:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.breadcrumb li {position: relative; float: left; padding-right: 20px; font-size: 13px; font-weight: 300; color: #888; }
.breadcrumb li:after {content:""; position: absolute; top: 50%; right: 10px; width: 4px; height: 4px; border-bottom: 2px solid #ccc; border-right: 2px solid #ccc; transform: translateY(-50%) rotate(315deg); }
.breadcrumb li:last-child {padding-right: 0; }
.breadcrumb li:last-child:after {content: none; }
.breadcrumb li.active {font-weight: 400; color: #666; }



/* ===================================================
	form
====================================================*/

/* Text Field 입력필드
-----------------------------------------------------*/
input,
.input-text {display: inline-block; height: 40px; padding: 0 12px; background-color: #fff; border: 1px solid #ccc; -webkit-border-radius: 5px; border-radius: 5px; font-size: 14px; color: #444; }
input:focus,
.input-text:focus {border-color: #0080c7; background-color: #fff; }



/* placeholder */
.input-text:-webkit-input-placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text:-moz-placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text:-ms-input-placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text::-ms-input-placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text::-moz-placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text::placeholder  {color: #aaa !important; font-weight: 400 !important; }
.input-text:placeholder  {color: #aaa !important; font-weight: 400 !important; }


/* readonly */
input[type="text"]:read-only,
.input-text:read-only {background-color: #eee; border-color: #ccc; color: #888; }
.input-text.readonly {background-color: #eee; border-color: #ccc; color: #888; }
input[type="text"][readonly="readonly"] {background-color: #eee; border-color: #ccc; color: #888; }
input[type="text"].readonly {background-color: #eee; border-color: #ccc; color: #888; }

.input-text:read-only:focus {background-color: #eee; border-color: #ccc; color: #888; }
.input-text.readonly:focus {background-color: #eee; border-color: #ccc; color: #888; }
input[type="text"][readonly="readonly"]:focus {background-color: #eee; border-color: #ccc; color: #888; }
input[type="text"].readonly:focus {background-color: #eee; border-color: #ccc; color: #888; }


/* disabled */
.input-text:disabled {background-color: #eee; color: #888; cursor: not-allowed; }
.input-text.disabled {background-color: #eee; color: #888; cursor: not-allowed; }
input[type="text"]:disabled {background-color: #eee; color: #888; cursor: not-allowed; }
input[type="text"][disabled="disabled"] {background-color: #eee; color: #888; cursor: not-allowed; }

.input-text:disabled:focus {background-color: #eee; border-color: #ccc;  color: #888; cursor: not-allowed; }
.input-text.disabled:focus {background-color: #eee; border-color: #ccc; color: #888; cursor: not-allowed; }
input[type="text"]:disabled:focus {background-color: #eee; border-color: #ccc; color: #888; cursor: not-allowed; }
input[type="text"][disabled="disabled"]:focus {background-color: #eee; border-color: #ccc; color: #888; cursor: not-allowed; }

input.big,
.input-text.big {height: 50px; }
input.small,
.input-text.small {height: 30px; font-size: 0.8em; }

input.full,
.input-text.full {width: 100%; }
input.half,
.input-text.half {width: 50%; }

.datepicker-wrap {display: block; width: 100%; }
.datepicker-wrap:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }

.input-datepicker {padding-left: 37px; background-image: url("../images/common/icon_date.png"); background-repeat: no-repeat; background-position: left 10px center; background-size: auto 16px; }
.swing {display: inline-block; margin: 0 5px; }

/* 데이트피커 */
.ui-widget {padding: 15px 10px; font-family: 'Roboto','NotoSansKR', Apple SD Gothic Neo, 'Microsoft Yahei', 'Microsoft MingLiU', Arial, 돋움, dotum, sans-serif; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {padding: 7px 0; border: 0; background-color: #fff; border-radius: 999px; text-align: center; }

.ui-datepicker .ui-datepicker-header {background-color: #fff; border: 0; }
.ui-datepicker th {background-color: #fff; border: 0; }

.ui-datepicker-month {font-size: 16px; font-weight: 700; }
.ui-datepicker-year {font-size: 16px; font-weight: 300; }

.ui-datepicker-calendar tr {border: 0; }
.ui-datepicker-calendar tr:last-child {border: 0; }
.ui-datepicker-calendar tr:first-child {border: 0; }
.ui-datepicker-calendar tr:hover {background-color: #fff; }
.ui-state-default.ui-state-active {background-color: #0080c7; }
.ui-state-default.ui-state-highlight {background-color: #eff7fb; color: #0080c7; }
.ui-state-default:hover {background-color: #eff7fb; }
.ui-state-default.ui-state-active:hover {background-color: #0080c7; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {background-color: #f7f8f9; border: 0; border-radius: 999px; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev {top: 4px; left: 10px; background-image: url("../images/common/date_prev.png"); background-repeat:no-repeat; background-position: center center; }
.ui-datepicker .ui-datepicker-next {top: 4px; right: 10px; background-image: url("../images/common/date_next.png"); background-repeat:no-repeat; background-position: center center; }

.datepicker-wrap input {float: left; width: 200px; }
.datepicker-wrap .swing {float: left; width: 10px; line-height: 35px; }




/* Text Area 입력영역
-----------------------------------------------------*/
textarea,
.textarea {display: block; width: 100%; height: 200px; padding: 12px 12px; background-color: #fff; border: 1px solid #ccc; -webkit-border-radius: 5px; border-radius: 5px; font-size: 14px; font-weight: 400; color: #444; }

textarea:focus,
.textarea:focus {border-color: #0080c7; background-color: #fff; }



/* Select 콤보상자
-----------------------------------------------------*/
select,
.select {display: inline-block; height: 40px; padding: 0 32px 0 12px; border: 1px solid #ccc; -webkit-border-radius: 5px; border-radius: 5px; background-image: url("../images/common/select.png"); background-repeat: no-repeat;  background-position: right 12px center; font-size: 14px; color: #444;  }

select:focus,
.select:focus {border-color: #0080c7; background-color: #fff; }

select.readonly,
.select.readonly {background-color: #eee; border-color: #ccc; color: #888; }

select.big,
.select.big {height: 50px; }
select.small,
.select.small {height: 30px; font-size: 0.8em; }

select.full,
.select.full {width: 100%; }
select.half,
.select.half {width: 50%; }


.input-title {display: block; min-width: 140px; margin-right: 10px; font-size: 15px; font-weight: 400; }

.form-item {display: flex; align-items: center; }
.form-item + .form-item {margin-top: 5%; }

.form-wrap:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }




/* Checkbox , radio
-----------------------------------------------------*/
.input-check,
input[type="checkbox"] {width: 16px; min-width: 16px; height: 16px; vertical-align: middle; cursor: pointer; accent-color: #0080c7; }

.input-check + label,
input[type="checkbox"] + label {margin-left: 5px; line-height: 16px; font-size: 14px; vertical-align: middle; cursor: pointer; }

.input-radio,
input[type="radio"] {width: 16px; min-width: 16px; height: 16px; cursor: pointer; accent-color: #0080c7; }


.check-group {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -ms-flex-direction: row; flex-direction: row; -webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.checkbox {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.check-group .checkbox input[type="checkbox"] + label {margin-left: 5px; }
.checkbox + .checkbox {margin-left: 4%; }

.check-group.column {-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column; }
.check-group.column .checkbox + .checkbox {margin-left: 0; margin-top: 5px; }

.radio-group {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -ms-flex-direction: row; flex-direction: row; -webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.radiobox {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.radiobox label {margin-left: 5px; }
.radiobox + .radiobox {margin-left: 4%; }

.radio-group.column {-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column;}
.radio-group.column .radiobox + .radiobox {margin-left: 0; margin-top: 5px; }






/* ===================================================
	Table
====================================================*/
.table-default {overflow: auto; touch-action: auto; }

table {width: 100%; min-width: 500px; padding: 0; border-collapse: collapse; border-spacing: 0; table-layout: fixed; border: 0; background-image: none; }

table tr:hover {background-color: #fbfbfb; }
table.no-hover tr:hover {background-color: transparent; }

table th,
table td {padding: 16px 12px; height: 34px; box-sizing: border-box; word-break: normal; white-space: normal; vertical-align: middle; font-size: 13px; color: #444; text-align: left; }
table th {background-color: #f7f8f9; }

table img {max-width: 100%; }
table thead tr:hover {background-color: transparent; }

table tr {border-bottom: 1px solid #eee; }
table tr:first-child {border-top: 1px solid #ccc; }
table tr:last-child {border-color: #ccc; }


/* table-header */
.table-header {margin-bottom: 20px; }
.table-header:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.table-header p {float: left; font-weight: 500; font-size: 16px; line-height: 40px; }
.table-header p em {font-size: 14px; color: #0080c7; }
.table-header select {float: right; }


/* ===================================================
	Tab
====================================================*/
.tab01 {}
.tab01:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.tab01 li {float: left; }
.tab01 li + li {margin-left: 20px; }
.tab01 li button {display: block; position: relative; width: 100%; margin: 0 auto; padding: 0; border: 0; border-radius: 0; box-sizing: border-box; font-size: 18px; font-weight: 500; color: #888; }
.tab01 li button span {font-size: 14px; }
.tab01 li button:hover {color: #444; }
.tab01 li button:hover:after {content: none; top: auto; }
.tab01 li.active button {font-weight: 700; color: #222; }
.tab01 li.active button:after {content:""; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; border-radius: 999px; background-color: #222; }


.tab02 {}
.tab02:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.tab02 li {float: left; }
.tab02 li button {display: block; position: relative; width: 100%; margin: 0 auto; padding: 0 20px; border: 0; border-radius: 0; box-sizing: border-box; font-size: 15px; font-weight: 400; color: #888; }
.tab02 li button:after {content:""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; border-radius: 999px; background-color: #eee; }
.tab02 li button span {font-size: 14px; }
.tab02 li button:hover {color: #666; }
.tab02 li button:hover:after {top: auto; background-color: #ddd; }
.tab02 li.active button {font-weight: 700; color: #222; }
.tab02 li.active button:after {content:""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; border-radius: 999px; background-color: #222; }


/* n개 이상일 때 overflow-x: auto 스크롤 숨김 */
.tab01,
.tab02 {
	display: flex; overflow: hidden; overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tab01::-webkit-scrollbar,
.tab02::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.tab01.flex li,
.tab02.flex li {flex: 1; }


/* ===================================================
	Popup
====================================================*/
.popup-wrap {display: none; position: fixed; top: 0; right: 0; width: calc(100% - 230px); height: 100%; background-color: rgba(0, 0, 0, 0.1); z-index: 5; }
.nav-wrap.close + .container .popup-wrap {width: 100%; }

.popup {position: absolute; top: 50%; left: 50%; width: 90%; max-width: 500px; border-radius: 5px; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); background-color: #fff; transform: translate(-50%, -50%); }
.popup-header {position: relative; padding: 10px 10px 10px 20px; border-bottom: 1px solid #eee; box-sizing: border-box; }
.popup-header:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.popup-header h3 {float: left; font-size: 18px; font-weight: 700; line-height: 30px; }
.popup-close {position: relative; float: right; width: 30px; min-width: auto; height: 30px; border: 0; padding: 0;  }
.popup-close:after {content:""; position: absolute; top: 50%; left: 50%; width: 2px; height: 12px; background-color: #ccc; transform: translate(-50%, -50%) rotate(45deg); }
.popup-close:hover:after {content:""; position: absolute; top: 50%; left: 50%; width: 2px; height: 12px; background-color: #aaa; transform: translate(-50%, -50%) rotate(45deg); mix-blend-mode: unset; }
.popup-close:before {content:""; position: absolute; top: 50%; left: 50%; width: 2px; height: 12px; background-color: #ccc; transform: translate(-50%, -50%) rotate(-45deg); }
.popup-close:hover:before {content:""; position: absolute; top: 50%; left: 50%; width: 2px; height: 12px; background-color: #aaa; transform: translate(-50%, -50%) rotate(-45deg); }

.popup-body {width: 100%; max-height: 200px; padding: 20px 20px; box-sizing: border-box; overflow: hidden; overflow-y: auto; font-size: 14px; color: #444; }
.popup-bottom {display: flex; padding: 15px 20px; box-sizing: border-box; }
.popup-bottom button {flex: 1; border-radius: 999px; overflow: hidden; }
.popup-bottom button + button {margin-left: 20px; }

.popup.big {width: 90%; max-width: 600px; }
.popup.big .popup-body {min-height: 300px; max-height: 400px; }


/* popup alarm */
.alarm-wrap {position: relative; float: left; }
#popup_alarm {display: none; position: absolute; top: 60px; right: 0; width: 280px; z-index: 5; transform: translate(-100%, 0); }
#popup_alarm .popup-body {padding: 10px 15px; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ border-radius: 5px; }
#popup_alarm .popup-body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.alarm-list {}
.alarm-list li {width: 100%; }
.alarm-list li a {display: block; width: 100%;padding: 10px 0; box-sizing: border-box; }

.alarm-list li + li {border-top: 1px solid #eee; }
.alarm-list li .date {display: block; margin-bottom: 2px; font-size: 12px; color: #888; }
.alarm-list li .text {display: block; font-size: 13px; font-weight: 400; color: #444; }


.header-user-wrap {position: relative; }
.user-popup {display: none; position: absolute; top: 60px; right: 0; width: 145px; padding: 10px 15px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); background-color: #fff; z-index: 10; }

.user-popup .user {padding: 5px 0 10px; border-bottom: 1px solid #eee; }
.user-popup .user span {display: block; font-size: 12px; color: #888; }
.user-popup .user p {font-size: 14px; font-weight: 500; color: #444; }

.user-popup li {width: 100%; }
.user-popup li button {width: 100%; height: auto; padding: 14px 0 14px 34px; background-repeat: no-repeat; background-position: left 10px center; background-size: auto 16px; box-sizing: border-box; line-height: normal; font-size: 13px; color: #666; text-align: left; }

.user-popup li .profile {background-image: url("../images/common/header_profile.png"); }
.user-popup li .profile:hover {background-image: url("../images/common/header_profile_on.png"); color: #0080c7; }
.user-popup li .lock {background-image: url("../images/common/header_lock.png"); }
.user-popup li .lock:hover {background-image: url("../images/common/header_lock_on.png"); color: #0080c7; }
.user-popup li .logout {background-image: url("../images/common/header_logout.png"); }
.user-popup li .logout:hover {background-image: url("../images/common/header_logout_on.png"); color: #0080c7; }


.dark-switch {position: relative; width: 100%; margin-top: 10px; }
.dark-switch > input[type="checkbox"] {display: none; }
.dark-switch > input[type="checkbox"] + label {display: block; width: 100%; height: 30px; margin: 0; border-radius: 999px; background-color: #eee; }
.dark-switch > label:after {content: ""; position: absolute; top: 3px; left: 3px; width: 24px; height: 24px; border-radius: 999px; background-color: #fff; transition: all 0.3s; }
.dark-switch > input[type="checkbox"]:checked + label {background-color: #444; }
.dark-switch > input[type="checkbox"]:checked + label:after {left: 88px; background-color: #888; }

.dark-switch > label span {display: none; position: absolute; top: 50%; left: 50%; background-color: transparent; transform: translate(-50%, -50%); font-weight: 500; color: #444; }
.dark-switch > label span:nth-child(1) {display: block; }
.dark-switch > input[type="checkbox"]:checked + label span:nth-child(1) {display: none; }
.dark-switch > input[type="checkbox"]:checked + label span:nth-child(2) {display: block; color: #fff; }


/* ===================================================
	Image upload
====================================================*/
.image-wrap {position: relative; width: 140px; height: 140px; border-radius: 3px; overflow: hidden; }
.image-wrap img {position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%); }

.image-wrap .btn-group {position: absolute; bottom: 0; left: 0; width: 100%; background-color: transparent; opacity: 0; transition: all 0.3s; }
.image-wrap:hover .btn-group {opacity: 1; }
.image-wrap .btn-group:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.image-wrap .btn-group a,
.image-wrap .btn-group button {float: left; width: 50%; margin: 0; border: 0; border-radius: 0; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.6); font-size: 13px; color: #fff; }

.image-wrap .btn-group a:hover,
.image-wrap .btn-group button:hover {color: #0080c7; }

.image-upload {width: 100%; height: 100%; border: 1px dashed #ccc; background-color: #f7f8f9; }
.image-upload span {display: inline-block; position: relative; width: auto; height: auto; margin: 36px auto 0; padding: 3px 6px; /*border: 1px solid #ccc;*/ border-radius: 3px; box-sizing: border-box; /*background-color: #fff;*/ font-size: 12px; line-height: normal; }
.image-upload span:after {content:""; display: block; position: absolute; top: -26px; left: 50%; width: 18px; height: 18px; background-image: url("../images/common/icon_image.png"); background-repeat: no-repeat; background-size: 18px auto; background-position: center center; transform: translateX(-50%); }

.image-list {margin-left: -10px; }
.image-list:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.image-list li {float: left; margin: 5px 10px; }


/* ===================================================
	Search
====================================================*/
article {width: 100%; margin: 20px 0; padding: 24px 20px; border: 1px solid #eee; border-radius: 3px; box-sizing: border-box; background-color: #fff; }

/* search */

.search-wrap {display: flex; align-items: center; }
.search-wrap .form-wrap {width: 80%; }
.search-wrap .btn-group {width: 15%; margin-left: 5%; }
.search-wrap .btn-group .btn,
.search-wrap .btn-group button {width: 100%; }
.search-wrap .btn-group .btn + .btn,
.search-wrap .btn-group .btn + button,
.search-wrap .btn-group button + .btn,
.search-wrap .btn-group button + button {margin: 10px 0 0; }

.search-wrap .form-item {float: left; width: 45%; margin: 2% 4% 0 1%; }
.search-wrap .form-item:nth-of-type(1),
.search-wrap .form-item:nth-of-type(2) {margin-top: 0; }
.search-wrap .form-item.full {width: 100%; }

.search-wrap input,
.search-wrap .input-text {height: 35px; line-height: 33px; }





/* ===================================================
	반응형
====================================================*/

/* 1120px 이하 */
@media (max-width: 1120px){
	.search-wrap {flex-direction: column; }
	.search-wrap .form-item {width: 100%; margin: 0; }
	.search-wrap .form-item + .form-item {margin-top: 4%; }
	.search-wrap .form-wrap {width: 100%; }
	.search-wrap .btn-group {width: 100%; margin: 5% 0 0; }
	.search-wrap .btn-group .btn,
	.search-wrap .btn-group button {width: 100%; }


}


/* 768px 이하 */
@media (max-width: 768px){
	#popup_alarm {transform: translate(-60%, 0); }

	.form-item {flex-direction: column; align-items: flex-start; }
	.input-title {min-width: 100%; margin-bottom: 3px; text-align: left; font-size: 13px; }

	.datepicker-wrap input {width: calc(50% - 10px); }

	.page-header .title {font-size: 24px; }
	.breadcrumb li {font-size: 12px; }

	.image-list li {margin: 5px 5px; }
	.image-upload {padding: 0; }
	.image-wrap {width: 90px; height: 90px; }
	.image-wrap .btn-group {opacity: 1; }
	.image-wrap .btn-group a,
	.image-wrap .btn-group button {height: 30px; padding: 0; line-height: 1; }

}

/* 500px 이하 */
@media (max-width: 500px){

	/* check, radio */
	.input-check, input[type="checkbox"],
	.input-radio, input[type="radio"] {width: 12px; min-width: 12px; height: 12px; }

	/* table */
	table th, table td {padding: 8px 6px; }
}

